<div class="header row">
    <div class="col-sm-3">
        Students
        <button type="button" class="btn btn-outline-primary" (click)="showAddStudentSection()">Add New</button>
    </div>
    <div class="col-sm-4">
        <form [formGroup]="filterFormGroup">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <select class="form-control" name="filterBy" formControlName="filterBy">
                        <option value="">Filter By</option>
                        <option value="name">Name</option>
                        <option value="roll">Roll</option>
                        <option value="classId">Class</option>
                    </select>
                </div>
                <input *ngIf="filterFormGroup.value.filterBy!='classId'" type="text" name="filterValue" formControlName="filterValue" placeholder="Filter Value"
                    class="form-control" id="basic-url" aria-describedby="basic-addon3">

                <select *ngIf="filterFormGroup.value.filterBy=='classId'" class="form-control" name="filterValue" formControlName="filterValue">
                    <option value="">--Class--</option>
                    <option *ngFor="let class of classes" [value]="class.id">{{class.name}}</option>
                </select>
            </div>
        </form>

    </div>
    <div class="col-sm-2">
        <form [formGroup]="sortFormGroup">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <select class="form-control" name="sortBy" formControlName="sortBy">
                        <option value="">Sort By</option>
                        <option value="NAME">Name</option>
                        <option value="ROLL">Roll</option>
                        <option value="DOB">DOB</option>
                    </select>
                </div>
                <select class="form-control" name="sortOrder" formControlName="sortOrder">
                    <option value="">Sort Order</option>
                    <option value="ASC">ASC</option>
                    <option value="DESC">DESC</option>
                </select>
            </div>
        </form>
    </div>

</div>
<app-add-student *ngIf="showAddStudent" (reloadStudentList)="reloadStudentList($event)"></app-add-student>
<app-update-student *ngIf="showUpdateStudent" [student]="student" (reloadStudentList)="reloadStudentList($event)"
    (closeUpdateWindowReq)="closeUpdateWindowReq($event)"></app-update-student>
<table class="table table-striped" aria-describedby="student-list">
    <thead>
        <tr>
            <th scope="col">Sl No</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Roll No</th>
            <th scope="col">Father's Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentList.students;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{student?.name}}</td>
            <td>{{student?.class?.name}}</td>
            <td>{{student?.roll}}</td>
            <td>{{student?.father}}</td>
            <td>{{student?.dob | date}}</td>
            <td>{{student?.address}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="editStudent(student)">Edit</button>
                <button type="button" class="btn btn-secondary btn-sm delete-btn"
                    (click)="deleteStudent(student)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>