<div class="header row">
    <div class="col-sm-3">
        Students
        <button type="button" class="btn btn-outline-primary" (click)="showAddStudentSection()">Add New</button>
    </div>
    <div class="col-sm-4">
        <form [formGroup]="filterFormGroup">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <!-- <span class="input-group-text" id="basic-addon3">https://example.com/users/</span> -->
                    <select class="form-control" name="filterBy" formControlName="filterBy">
                        <option value="">Filter By</option>
                        <option value="name">Name</option>
                    </select>
                </div>
                <input type="text" name="filterValue" formControlName="filterValue" placeholder="Filter Value" class="form-control" id="basic-url"
                    aria-describedby="basic-addon3">
            </div>
        </form>

    </div>

</div>
<app-add-student *ngIf="showAddStudent" (reloadStudentList)="reloadStudentList($event)"></app-add-student>
<app-update-student *ngIf="showUpdateStudent" [student]="student" (reloadStudentList)="reloadStudentList($event)"
    (closeUpdateWindowReq)="closeUpdateWindowReq($event)"></app-update-student>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Sl No</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Roll No</th>
            <th scope="col">Father's Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentList.students;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{student?.name}}</td>
            <td>{{student?.class?.name}}</td>
            <td>{{student?.roll}}</td>
            <td>{{student?.father}}</td>
            <td>{{student?.dob | date}}</td>
            <td>{{student?.address}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="editStudent(student)">Edit</button>
                <button type="button" class="btn btn-secondary btn-sm delete-btn"
                    (click)="deleteStudent(student)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>